<div class="detail">
    <div class="method-detail">
        <h2>Jenkins Job DSL API</h2>

        <div class="intro">
            <p>
                Welcome to the Job DSL API Viewer. This is the Job DSL reference, showing all available DSL methods. Use the navigation
                on the left to browse all methods starting from the methods available in the script context.
            </p>
            <p>
                The Job DSL API currently supports {{plugins.length}} Jenkins plugins. Click the <span class="glyphicon glyphicon-filter"></span>
                on the top-right to filter methods by plugin.
            </p>
            <p>
                For further documentation, please go to the <a href="https://github.com/jenkinsci/job-dsl-plugin/wiki">Job DSL Wiki</a>.
            </p>
            <p>
                Other Jenkins plugins can contribute DSL methods through extension points. Refer to the plugins'
                wiki pages for documentation:
            </p>
            <ul>
                <li><a href="https://wiki.jenkins-ci.org/display/JENKINS/ClearCase+UCM+Plugin#ClearCaseUCMPlugin-JenkinsJobDSL">ClearCase UCM Plugin</a></li>
                <li><a href="https://wiki.jenkins-ci.org/display/JENKINS/CodeSonar+Plugin#CodeSonarPlugin-JenkinsJobDSL">CodeSonar Plugin</a></li>
                <li><a href="https://wiki.jenkins-ci.org/display/JENKINS/GitHub+pull+request+builder+plugin#GitHubpullrequestbuilderplugin-JobDSLSupport">GitHub Pull Request Builder Plugin</a></li>
                <li><a href="https://wiki.jenkins-ci.org/display/JENKINS/JGiven+Plugin#JGivenPlugin-JobDSL">JGiven Plugin</a></li>
                <li><a href="https://wiki.jenkins-ci.org/display/JENKINS/Logging+Plugin#LoggingPlugin-JenkinsJobDSL">Logging Plugin</a></li>
                <li><a href="https://wiki.jenkins-ci.org/display/JENKINS/Memory+Map+Plugin#MemoryMapPlugin-JenkinsJobDSL">Memory Map Plugin</a></li>
                <li><a href="https://wiki.jenkins-ci.org/display/JENKINS/Next+Build+Number+Plugin#NextBuildNumberPlugin-JobDSL">Next Build Number Plugin</a></li>
                <li><a href="https://wiki.jenkins-ci.org/display/JENKINS/Pretested+Integration+Plugin#PretestedIntegrationPlugin-JenkinsJobDSL">Pretested Integration Plugin</a></li>
            </ul>
        </div>

        <h3 class="section-header">Top-Level Methods</h3>
        <div class="context-methods-section"></div>
    </div>
</div>
