<ul class="nav">
    {{#each plugins}}
        <li data-plugin-name="{{name}}"><a href="#plugin/{{name}}"><span class="checkbox-wrapper"><input type="checkbox" checked /></span> {{title}}</a></li>
    {{/each}}
</ul>