<div class="detail">
    <div class="method-detail">
        <h2>Jenkins Job DSL API</h2>

        <div class="method-doc">
            <p>
                Welcome to the Job DSL API Viewer. This is the Job DSL reference, showing all available DSL methods. Use the navigation
                on the left to browse all methods starting from the methods available in the script context.
            </p>
            <p>
                For further documentation, please go to the <a href="https://github.com/jenkinsci/job-dsl-plugin/wiki">Job DSL Wiki</a>.
            </p>
        </div>

        <h3 class="section-header">Top Level Methods</h3>
        <div class="context-methods-section"></div>
    </div>
</div>