target
bin
.classpath
.settings
.project
*.iml
*.ipr
*.iws
/.idea
.nb-gradle-properties
work
nbactions.xml
/.gradle
gradle-app.setting
.*.sw?
*~
*.bak
/local*
build
/out
/classes

*/test.xml
*/test2.xml
*/view-a.xml
*/view-b.xml

#Jenkins specific out
*.hpi

#Vagrant
.vagrant