target

# mvn hpi:run
work

# IntelliJ IDEA project files
*.iml
*.iws
*.ipr
.idea

# Eclipse project files
.settings
.classpath
.project

# Web application
job-dsl-plugin/node
job-dsl-plugin/node_modules
job-dsl-plugin/src/main/webapp/api-viewer
