name: Push to the GitHub Wiki

on:
  push:
    branches:
      - master
    paths:
      - "docs/**"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  push-to-wiki:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          path: job-dsl-plugin
      - name: Checkout wiki
        uses: actions/checkout@v6
        with:
          repository: ${{github.repository}}.wiki
          path: job-dsl-plugin.wiki
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
      # https://github.com/jenkins-infra/github-reusable-workflows/issues/36
      - name: Set up Maven
        run: |
          wget --no-verbose https://downloads.apache.org/maven/maven-3/$MAVEN_VERSION/binaries/apache-maven-$MAVEN_VERSION-bin.tar.gz
          echo $CHECKSUM apache-maven-$MAVEN_VERSION-bin.tar.gz | sha512sum --check
          tar xzf apache-maven-$MAVEN_VERSION-bin.tar.gz
          rm apache-maven-$MAVEN_VERSION-bin.tar.gz
          sudo mv apache-maven-$MAVEN_VERSION /opt/maven
          sudo rm -f /usr/bin/mvn
          sudo ln -s /opt/maven/bin/mvn /usr/bin/mvn
          mvn --version
        env:
          MAVEN_VERSION: 3.9.12
          # https://downloads.apache.org/maven/maven-3/3.9.12/binaries/apache-maven-3.9.12-bin.tar.gz.sha512
          CHECKSUM: 0a1be79f02466533fc1a80abbef8796e4f737c46c6574ede5658b110899942a94db634477dfd3745501c80aef9aac0d4f841d38574373f7e2d24cce89d694f70
      - name: Push to wiki
        run: |
          git config --global user.email "actions@users.noreply.github.com"
          git config --global user.name "wiki[bot]"

          pushd job-dsl-plugin
          ./build-wiki.sh
          popd

          pushd job-dsl-plugin.wiki
          cp -r ../job-dsl-plugin/target/docs/* .
          git add .
          git commit -m "Automagic update" || true
          git push
          popd
